

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: powderblue;
}

.in{
    height: 30px;
    width: 150px;
    border: 1px solid black;
    margin: 10px;

}

.btn{
    margin: 10px;
    height: 30px;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: grey;

}

.btn:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}

